<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Xplore</title>
</head>

<body>
    {{#each info}}
            <div class="pics col-lg-4 col-md-6 mb-2">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ image }}" alt="image">
                    <div class="card-body">
                        <h2>{{ city }}</h2>
                        <p>{{ state }},{{ country }}</p>
                        <p class="card-text">{{ description }}</p>
                        <p>Budget: {{ budget }}</p>
                        {{!-- <form action="/postviewback" method="post">
                            <input type="hidden" name="pid" value="{{ pid }}">
                            <input type="submit" value="view">
                        </form> --}}
                    </div>
                </div>
            </div>
    {{/each}}
</body>

</html>